---
import Layout from '../layouts/GenLayout.astro';
import { getCollection } from 'astro:content';
import { LINKS } from '../consts';

import '../styles/index.css';

const blogPosts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const workPosts = (await getCollection('work')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const postSections = [
	{
		title: "Discover My Blog",
		btnText: "View all posts",
		posts: blogPosts
	},
	{
		title: "Discover My Work",
		btnText: "View all work",
		posts: workPosts
	}
];
---

<Layout>
	<main>
		<div class="hero w-full bg-gray-800 relative">
			<!-- Gradient and noise overlay -->
			<div class="absolute inset-0 bg-gradient-to-br from-gray-600 to-gray-800 opacity-90"></div>
			<div class="absolute inset-0 bg-noise"></div>

			<!-- Main content -->
			<div class="relative flex items-center justify-center text-white">
				<div class="hero-section w-full">
					<div class="container px-3 py-">
						<!-- Hero Content: Centered for both mobile and desktop -->
						<div class="flex flex-col md:flex-row items-center justify-center">
							<!-- Left Section: Text -->
							<div class="hero-left mb-8 md:mb-0 md:w-1/2 text-center md:text-left">
								<div class="hero-text">
									<div class="welcome-text text-3xl md:text-4xl font-light leading-snug">
										<strong>Hello,</strong> I'm
									</div>
									<div class="hero-bottom-text mt-4">
										<h1 class="hero-name text-3xl md:text-6xl font-semibold leading-tight">Paco</h1>
										<p class="hero-tagline mt-2 text-lg md:text-xl">Mostly a C++ developer</p>
									</div>
								</div>
							</div>

							<!-- Right Section: Image -->
							<div class="hero-right md:w-1/2 flex justify-center md:justify-end">
								<img src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/3d0f6/MainAfter.avif"
									class="w-3/4 max-w-xs md:max-w-sm mx-auto rounded-lg shadow-xl" alt="Hero Image" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- About me section -->
		<div class="container about-wrapper px-6">
			<div class="flex flex-col md:flex-row items-center justify-between">
				<!-- Left Section: Text -->
				<div class="about-left mb-8 md:mb-0 md:w-1/2">
					<h2 class="about-title text-3xl md:text-4xl mb-4">👨‍💻 About Me</h2>
					<p class="last-paragraph text-lg md:text-xl">I'm a software developer who began my journey as a graphics developer for a game UI library, later transitioning into the exciting world of AI. My work blends creativity and technology, and I’m always on the lookout for new ideas to explore and share.</p>
					<p class="text-lg md:text-xl mb-4">I enjoy diving into new tech, exploring the latest innovations in the automotive world 🚗, and seeking out thrilling adventures 🌍.</p>
				</div>

				<!-- Right Section: Text -->
				<div class="about-right md:w-1/2 mt-8 md:mt-0">
					<p class="text-lg md:text-xl mb-4">Through this space, I’ll share not only my ideas but also the challenges I face along the way, hoping to inspire and connect with like-minded enthusiasts.</p>
					<p class="text-lg md:text-xl">Beyond coding, I’m driven by a love for innovation and problem-solving, and I’m excited to document this journey here.</p>
					<p class="text-lg md:text-xl">Contact me here:</p>

					<div class="flex space-x-6 mt-8">
						<a href={LINKS["twitter"]} target="_blank">
							<span class="sr-only">Follow PM on Twitter</span>
							<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
								<path fill="currentColor" d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path>
							</svg>
						</a>
						<a href={LINKS["github"]} target="_blank">
							<span class="sr-only">Go to PM's GitHub repo</span>
							<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
								<path fill="currentColor" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
							</svg>
						</a>
						<a href={LINKS["linkedin"]} target="_blank">
							<span class="sr-only">Go to Linkedin profile</span>
							<svg viewBox="0 0 1000 1000" aria-hidden="true" width="32" height="32" astro-icon="social/linkedin">
								<path fill="currentColor" d="M 500 0C 224 0 0 224 0 500C 0 776 224 1000 500 1000C 776 1000 1000 776 1000 500C 1000 224 776 0 500 0C 500 0 500 0 500 0 M 336 332C 336 332 336 789 336 789C 336 789 211 789 211 789C 211 789 211 332 211 332C 211 332 336 332 336 332M 346 206C 346 206 346 206 346 206C 346 247 313 280 273 280C 233 280 201 247 201 206C 201 166 233 133 273 133C 313 133 346 166 346 206M 834 508C 834 508 834 789 834 789C 834 789 709 789 709 789C 709 789 709 556 709 556C 709 416 543 427 543 556C 543 556 543 789 543 789C 543 789 419 789 419 789C 419 789 419 332 419 332C 419 332 543 332 543 332C 543 332 543 406 543 406C 601 298 834 290 834 508"/>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>

		{
			postSections.map(({ title, btnText, posts }) => (
				<div class="w-container p-4">
					<h2 class="section-title">{title}</h2>
					<div
						class="discover-grid grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-3 gap-4"
					>
					{posts.slice(0, 3).map((post) => (
						<div class="discover-item flex-shrink-0">
						<a href={`/${title.toLowerCase()}/${post.slug}/`} class="work-link w-inline-block">
							<div
							style={`background-image:url(${post.data.heroImage})`}
							class="discover-thumb"
							></div>
							<div class="work-info">
							<div class="project-list-title text-xl text-stone-950">{post.data.title}</div>
							</div>
						</a>
						</div>
					))}
					</div>

					<div class="text-right mt-4">
					<a href={`/${title.toLowerCase()}`} class="primary-button view-button">{btnText}</a>
					</div>
				</div>
			))
		}
	</main>
</Layout>

